@charset "utf-8";

#grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.filter {
    background: #111111;
    border-style: double;
    border-color:  #404040;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}
.filter h2{
    padding-left: 10px;
}
.filter h3{
    padding-left: 10px;
}
.filter ul{
    list-style: none;
}

.overview{
    grid-column: 2/6;
    grid-row: 1;
    margin: 0 auto;
}

.cardview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.card {
    display: flex;
    padding: 28px;
    flex-direction: column;
    overflow: hidden;
    
}

.card .container{
    align-self: center;
    border-radius: 1%;
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
    transition: all 0.4s ease-out;
    box-shadow: 0 0 20px black;
    font-size: 70px;
}

.card .container:hover{
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 1%;

}


/* Tablet */
@media screen and (max-width: 1080px) {
    .card .container{
        min-width: 250px;
        min-height: 250px;
        max-width: 250px;
        max-height: 250px;
        font-size: 50px;
    }
    .card {
        padding: 12px;
    }
}
/* Smartphone */
@media screen and (max-width: 780px) {
    .filter{
        height: auto;
        grid-column: 1/6;
        grid-row: 1;
    }
    .filter li{
        display:inline;
    }
    .overview{
        grid-column: 1/6;
        grid-row: 2;
    }
    .card .container{
        min-width: 200px;
        min-height: 200px;
        max-width: 200px;
        max-height: 200px;
        font-size: 40px;
    }
    .card {
        padding: 15px;
    }
}


