@charset "utf-8";


#grid {
    display: grid;
    grid-template-areas:
          'left main main main';
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.filter {
    background: #111111;
    border-style: double;
    border-color:  #404040;
    padding: 10px;
    grid-area: left;
    text-align: left;
}
.filter form{
    padding:  10px;
}

.overview{
    margin: 0 auto;
}

.cardview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.card {
    display: flex;
    padding: 28px;
    flex-direction: column;
    overflow: hidden;
    
}

.card .container{
    align-self: center;
    border-radius: 1%;
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
    transition: all 0.4s ease-out;
    box-shadow: 0 0 20px #111111;
}

.card .container:hover{
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 1%;

}


@media screen and (max-width: 700px) {
    .card .container{
        min-width: 150px;
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;
    }
    .card {
        padding: 12px;
    }
}


