@charset "utf-8";
@import url(items.css);

.card-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.filter {
    background: var(--dark-bg-color);
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    height: min-content;
    -webkit-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    -moz-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    box-shadow: 0px 0px 21px 8px var(--light-shadow);
    border-radius: 24px;
    padding-bottom: 10px;
}

.filter h2{
    margin: 5px;
    padding-left: 10%;
    border: 2px solid var(--purple);
    border-radius: 24px;
}



.filter form{
    padding-left: 10%;
}
.filter ul{
    list-style: none;
}

.overview{
    grid-column: 2/6;
    grid-row: 1;
    margin: 0 auto;
}

.cardview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.card {
    display: flex;
    padding: 28px;
    flex-direction: column;
    overflow: hidden; 
}

.card .container{
    align-self: center;
    border-radius: 1%;
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
    transition: all 0.4s ease-out;
    box-shadow: 0 0 20px var(--dark-shadow);
    font-size: 70px;
    color: var(--default-white);
    text-decoration: none;
}

.card .container:hover{
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    -moz-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    box-shadow: 0px 0px 21px 8px var(--light-shadow);

}

.chatcard {
    height:auto;
    width:auto;
    display: flex;
    padding: 5px;
    flex-direction: column;
    overflow: hidden;

}

.chatcard .chatcontainer{
    border-radius: 1%;
    min-width: 270px;
    min-height: 100px;
    max-width: 270px;
    max-height: 100px;
    transition: all 0.4s ease-out;
    box-shadow: 0 0 20px var(--dark-shadow);
    font-size: 35px;
}

.chatcardnopadding {
    height:10vh;
    width:300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chatcardnopadding .chatcontainer{
    border-radius: 1%;
    min-width: 270px;
    min-height: 100px;
    max-width: 270px;
    max-height: 100px;
    transition: all 0.4s ease-out;
    box-shadow: 0 0 20px var(--dark-shadow);
    font-size: 35px;
}


/* Tablet */
@media screen and (max-width: 1080px) {
    .card .container{
        min-width: 250px;
        min-height: 250px;
        max-width: 250px;
        max-height: 250px;
        font-size: 50px;
    }
    .card {
        padding: 12px;
    }
}
/* Smartphone */
@media screen and (max-width: 780px) {
    .filter{
        height: auto;
        grid-column: 1/6;
        grid-row: 1;
    }
    .overview{
        grid-column: 1/6;
        grid-row: 2;
    }
    .card .container{
        min-width: 200px;
        min-height: 200px;
        max-width: 200px;
        max-height: 200px;
        font-size: 40px;
    }
    .card {
        padding: 15px;
    }
    .chatcard {
        padding:0;

    }
}

