/*chat doesn't take up whole screen*/
#wholechat {
    padding-left:20%;
    padding-right:20%;
}

/*grid for the header of the chat*/
.headgrid {
    display: grid;
    grid-template-columns: 1% 30% 50%;
    grid-column-gap: 20%;
    padding-left:10px;
    height:10vh;
    background-color: var(--dark-bg-color);
}

/*grid for the body of the chat itself*/
.chatgrid {
    display: grid;
    grid-template-columns: 10% 30%;
    grid-column-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    height:50vh;
    margin: 0 auto;
    padding-left:20px;
    padding-top:15px;

}

/*header box*/
#chatheader.chatbox {
    background-color: var(--dark-bg-color);
    border-top-left-radius:24px;
    border-top-right-radius:24px;
    border: 2px solid var(--purple);
}

/*chat box*/
#chathistory.chatbox {
    height:60%;
    overflow-y:scroll;
    background-image:url("../Resourcen/Logo/logo_orange.png");
    background-size:cover;

}

/*send messages box*/
#sendForm.chatbox {
    background-color: var(--dark-bg-color);
    padding:0;
    padding-left:0;
    padding-top:5px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:24px;
}

.chatbox {
    display:flex;
    flex-wrap:wrap;
    height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--light-bg-color);

    border-color:  var(--dark-bg-color);
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:10px;
}

/* box in which you type the message*/
#sendMessage.data-input {
    min-width:40vw;
    max-width: 40vw;
    padding-left:20px;
}

#sendMessage.data-input:invalid {
    border: 2px solid var(--purple);
}

/*send button in chat*/
#sendButton {
    background: none;
    text-align: center;
    border: 2px solid var(--orange);
    outline: none;
    color: var(--default-white);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: medium;
    text-decoration: none;
}

#sendButton:hover {
    background:  var(--orange);
}

/*used for the name of the user you're chatting with*/
label#name {
    font-size:5vh;
    padding-top:2vh;
}

/*speech bubbles in chat*/
.speech-bubble {
    position: relative;
    width: 650px;
    height: 95px;
    padding: 2px;
    background: var(--bubble-color2);
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    border-radius: 31px;
    text-align:center;
    font-size:24px;
    white-space:normal;
    word-wrap: break-word;
}

.speech-bubble-self {
    position: relative;
    width: 650px;
    height: 95px;
    padding: 2px;
    background: var(--bubble-color1);
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    border-radius: 31px;
    text-align:center;
    font-size:24px;
    white-space:normal;
    word-wrap: break-word;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 17px 25px 17px 0;
    border-color: transparent var(--bubble-color2);
    display: block;
    width: 0;
    z-index: 1;
    left: -25px;
    top: 31px;
}

.speech-bubble-self:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 17px 25px 17px 0;
    border-color: transparent var(--bubble-color1);
    display: block;
    width: 0;
    z-index: 1;
    left: -25px;
    top: 31px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/*resizing for responsiveness*/
@media screen and (max-width: 1500px) {
    .headgrid {
        display:grid;
        grid-template-columns: 1% 1000px 0;
        grid-column-gap:10%;
    }
    .chatcard {
        padding:0px;

    }
    .chatgrid {
        display:grid;
        grid-template-columns:20% auto;
    }
    .chatgrid .speech-bubble {
        width: 290px;
        font-size:20px;
    }
    .chatgrid .speech-bubble-self {
        width: 290px;
        font-size:20px;
    }

}


@media screen and (max-width: 800px) {
    .chatgrid {
        display:grid;
        grid-template-columns: auto auto;
    }
    #wholechat {
        padding-left:5%;
        padding-right:5%;
    }
    input.sendMessage {
        min-width:60vw;
        max-width:60vw;
    }

}

@media screen and (max-width: 550px) {
    .chatgrid {
        grid-template-columns:auto;
    }

    label#name {
        font-size:24px;
        padding-top:3vh;
    }
    .chatgrid .speech-bubble {
        width: 220px;
        font-size:18px;
    }
    .chatgrid .speech-bubble-self {
        width: 220px;
        font-size:18px;
    }
    #sendMessage.data-input::placeholder {
        color:var(--dark-bg-color);
    }
}