.grid {
    display: grid;
    grid-template-columns: 2% 40%  3% 25%;
    grid-column-gap:100px;
    grid-row-gap: 20px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: left;
}

.boxname {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
}

.gridActiveChats {
    display: grid;
    grid-template-columns: 130px 170px auto;
    grid-column-gap: 1em;
    grid-row-gap: 5em;
}

.gridFriends {
    display: grid;
    grid-template-columns: 130px 300px;
    grid-column-gap: 1em;
    grid-row-gap: 5em;
}

.scroll {
    display:flex;
    flex-wrap:wrap;
    height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #696969;
    border-style: double;
    border-color:  #404040;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:10px;
}

.gridActiveChats > #wrapper {
    display: flex;
    flex-wrap: wrap;

}

input.startChat {
    min-width:150px;
    min-height:100px;
    max-width: 150px;
    max-height: 100px;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s ease-out;
}

.chatbutton:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 1%;
}

@media screen and (max-width: 1500px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap:0px;
        grid-row-gap: 20px;
        width: 100%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap:0px;
        grid-row-gap: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .gridActiveChats {
        grid-template-columns: 150px 150px 0;
    }

    .gridFriends {
        grid-template-columns: 150px 150px;
    }

    .scroll {
        width:98%;
    }
    .grid #friends.boxname {
        grid-row:6;
    }
    .grid #active.boxname {
        grid-row:3;
    }
    input.startChat {
        min-width:300px;
        max-width: 300px;

    }
}

@media screen and (max-width: 600px) {
    input.startChat {
        min-width:130px;
        max-width: 130px;
    }
}



