/*chat doesn't take up whole screen*/
#wholechat {
    padding-left:20%;
    padding-right:20%;
}

/*grid for the header of the chat*/
.headgrid {
    display: grid;
    grid-template-columns: 10% 30% 50%;
    grid-column-gap: 20%;
    padding-left:10px;
    grid-auto-rows: 10px;
    height:10vh;
    background-color: var(--dark-bg-color);
}

/*grid for the body of the chat itself*/
.chatgrid {
    padding: 10px;
    display: grid;
    grid-template-columns: 80px auto 80px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-row-gap: 10px;
    width: 100%;
    height: 65vh;
    margin: auto;
}

/*header box*/
#chatheader.chatbox {
    background-color: var(--dark-bg-color);
    border-top-left-radius:24px;
    border-top-right-radius:24px;
    border: 2px solid var(--purple);
}

/*chat box*/
#chathistory.chatbox {
    height:60%;
    overflow-y:scroll;
    background-image:url("../Resourcen/Logo/logo_orange.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}

/*send messages box*/
#sendForm.chatbox {
    background-color: var(--dark-bg-color);
    padding:0;
    padding-left:0;
    padding-top:5px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:24px;
}

.chatbox {
    display: flex;
    flex-wrap: wrap;
    height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--light-bg-color);
    border-color:  var(--dark-bg-color);
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:10px;
}




/*used for the name of the user you're chatting with*/
label#name {
    font-size:5vh;
    padding-top:2vh;
    margin-left: 20px;
}

.icon-user {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-size: cover;
    grid-column: 1;
    justify-self: center;
    align-self: baseline;
}
/*speech bubbles in chat*/
.speech-bubble-user {
    grid-column: 2;
    position: relative;
    background: var(--bubble-color2);
    border-radius: 10px;
    text-align: left;
    font-size: 24px;
    white-space: normal;
    word-wrap: break-word;
    padding: 5px 20px 5px 20px;
    justify-self: start;
    align-self: center;
    margin-left: 20px;
}

.icon-self {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-size: cover;
    grid-column: 3;
    justify-self: center;
    align-self: baseline;

}
.speech-bubble-self {
    grid-column: 2;
    position: relative;
    background: var(--bubble-color1);
    border-radius: 10px;
    text-align: left;
    font-size: 24px;
    white-space: normal;
    word-wrap: break-word;
    padding: 5px 20px 5px 20px;
    justify-self: end;
    align-self: baseline;
    margin-right: 20px;
}

.speech-bubble-user:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent var(--bubble-color2);
    display: block;
    width: 0;
    z-index: 1;
    left: -18px;
    top: 5px;
}

.speech-bubble-self:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent var(--bubble-color1);
    display: block;
    width: 0;
    z-index: 1;
    right: -18px;
    top: 5px;
    transform: rotate(180deg);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#messageform .wrapper{
    display: flex;
    width: 100%;
    height: 30px;
    margin: auto;
    position: relative;
    margin-bottom: 7px;
    justify-content: center;
    padding: 10px;
}

.submitMessage{
    background: none;
    cursor: pointer;
    text-align: center;
    border: 2px solid var(--orange);
    border-radius: 10px;
    font-size: 16px;
    height: 30px;
    outline: none;
    color: var(--default-white);
    align-self: center;
    margin-left: 5px;
}
.messageInput{
    background:  var(--white-bg-color);
    font-size: 15px;
    border-radius: 10px;
    width: 80%;
    padding-left: 5px;
    outline: 0;
    background-color: var(--white-bg-color);
    color: var(--default-black);
    border-width: 0px;
}

/* Width */
@media screen and (max-width: 1500px) {
    .headgrid {
        display:grid;
        grid-template-columns: 1% 1000px 0;
        grid-column-gap:10%;
    }
}
@media screen and (max-width: 1200px) {
 
    .chatgrid {
        grid-template-columns: 70px auto 70px;
    }
    .icon-self, .icon-user {
        width: 60px;
        height: 60px;
    }
    .speech-bubble-user, .speech-bubble-self {
        font-size:20px;
    }
    
}
@media screen and (max-width: 800px) {
    #wholechat {
        padding-left:5%;
        padding-right:5%;
    }
}

@media screen and (max-width: 550px) {
    .chatgrid {
        grid-template-columns: 100%;
    }

    .icon-self, .icon-user {
        display: none;
    }
    .speech-bubble-user, .speech-bubble-self {
        grid-column: 1;
    }

}
/* Height */
@media screen and (max-height: 1080px) {
    .chatgrid{
        height: 55vh;
    }
}

@media screen and (max-height: 800px) {
    .chatbox{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .chatgrid{
        height: 50vh;
    }
    .headgrid{
        height: 8vh;
    }
    label#name {
        font-size:4vh;
        padding-top:1.5vh;
        margin-left: 0px;
    }
}