.chat-grid {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 20px;
    width: 80%;
    margin: auto;

}

h1{
    text-align: center;
}
#activeChats{
    grid-column: 1;
    grid-row: 1;
}
#friendsList{
    grid-column: 2;
    grid-row: 1;
}

h2 {
    text-align: center;
}

.gridActiveChats {
    display: grid;
    grid-template-columns: 130px 170px;
    grid-column-gap: 1em;
    grid-row-gap: 5em;
}

.gridFriends {
    display: grid;
    grid-template-columns: 130px 300px;
    grid-column-gap: 0.5em;
    grid-row-gap: 5em;
}

.scroll {
    background: var(--dar-bg-color);
    overflow-x: hidden;
    overflow-y: scroll;
    border-style: double;
    border-color:  var(--light-bg-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    -webkit-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    -moz-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    box-shadow: 0px 0px 21px 8px var(--light-shadow);
    border-radius: 24px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.startChat {
    position: relative;
    background: #111111;
    min-width:140px;
    min-height:100px;
    max-width: 150px;
    max-height: 100px;
    box-shadow: 0 0 80px var(--dark-shadow);
    border: 2px solid var(--default-white);
    border-radius:24px;
    color: var(--default-white);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-out;
}
.startChat .message-counter{
    position: absolute;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    background-color: var(--warnig-red);
    right: -20px;
    top: -10px;
}

.startChat:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 24px;
}

.chatbutton:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 1%;

}
@media screen and (max-width: 1700px) {
    h1 {
        text-align:center;
    }
    .chat-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap:5px;
        grid-row-gap: 20px;
        width: 100%;
        margin: 0 auto;
    }

}


/* Smartphone */
@media screen and (max-width: 780px) {

    .chat-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        width: 100%;
    }
    #activeChats{
        width: 90%;
        margin: auto;
        grid-column: 1;
        grid-row: 1;
    }
    #friendsList{
        margin: auto;
        width: 90%;
        grid-column: 1;
        grid-row: 2;
    }
    .gridActiveChats {
        grid-template-columns: 150px 150px;
    }

    .gridFriends {
        grid-template-columns: 150px 150px;
    }

    .startChat {
        min-width:260px;
        max-width: 300px;
    }
}

@media screen and (max-width: 550px) {

    .startChat {
        min-width:120px;
        max-width: 150px;
    }
    .gridActiveChats {
        grid-template-columns: 100px auto;
    }
    .gridFriends {
        grid-template-columns: 100px auto;
    }
    .startChat:hover {
        transform: scale(1.0);
    }
}



