.chat-grid {
    display: grid;
    grid-template-columns: 2% 40%  3% 25%;
    grid-column-gap:100px;
    grid-row-gap: 20px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: left;
}

.boxname {
    text-align: center;
    font-size: 24px;
}

.gridActiveChats {
    display: grid;
    grid-template-columns: 130px 170px auto;
    grid-column-gap: 1em;
    grid-row-gap: 5em;
}

.gridFriends {
    display: grid;
    grid-template-columns: 130px 300px;
    grid-column-gap: 1em;
    grid-row-gap: 5em;
}

.scroll {
    background: #111111;
    display:flex;
    flex-wrap:wrap;
    height: 75%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-style: double;
    border-color:  var(--light-bg-color);
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:10px;
    -webkit-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    -moz-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    box-shadow: 0px 0px 21px 8px var(--light-shadow);
    border-radius: 24px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

input.startChat {
    background: #111111;
    min-width:150px;
    min-height:100px;
    max-width: 150px;
    max-height: 100px;
    box-shadow: 0 0 80px var(--dark-shadow);
    border: 2px solid var(--default-white);
    border-radius:24px;
    color: var(--default-white);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s ease-out;
}

input.startChat:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 24px;
}

.chatbutton:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 1%;

}

@media screen and (max-width: 1700px) {
    h1 {
        text-align:center;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap:0px;
        grid-row-gap: 20px;
        width: 100%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1200px) {
    h1 {
        text-align:center;
    }
    .grid {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-column-gap:0px;
        grid-row-gap: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .scroll {
        width: 98%;
        grid-column:2;
    }
    .boxname {
        grid-column:2;
    }
    .gridActive {
        grid-template-columns: 1000px;
    }
    .gridFriends {
        grid-template-columns: auto 250px auto auto;
    }
    .grid #friends.boxname {
        grid-row:3;
    }
    .grid #active.boxname {
        grid-row:1;
    }

}

/* Smartphone */
@media screen and (max-width: 780px) {
    h1 {
        text-align:center;
    }
    .grid {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-column-gap:0px;
        grid-row-gap: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .gridActiveChats {
        grid-template-columns: 150px 150px 0;
    }

    .gridFriends {
        grid-template-columns: 150px 150px;
    }

    .scroll {
        width:98%;
    }
    .grid #friends.boxname {
        grid-row:3;
    }
    .grid #active.boxname {
        grid-row:1;
    }
    input.startChat {
        min-width:300px;
        max-width: 300px;

    }
}

@media screen and (max-width: 550px) {
    h1 {
        text-align:center;
    }
    input.startChat {
        min-width:120px;
        max-width: 150px;
    }
    .gridActiveChats {
        grid-template-columns: 100px 400px auto;
    }
    .gridFriends {
        grid-template-columns: 100px 200px;
    }
    input.startChat:hover {
        transform: scale(1.0);
    }
}



