footer {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-color: var(--dark-bg-color);
    margin-bottom: 0;
}
.footer a{
    color: var(--default-white);
}
.footer p{ 
    text-align: right;
    padding-top: 10px;
    opacity: 80%;
}