.box {
    
    width: 40vw;
    padding: 40px;

    margin: 40px auto;
    background: var(--dark-bg-color);

    -webkit-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    -moz-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    box-shadow: 0px 0px 21px 8px var(--light-shadow);
}
.gamebox {   
    outline: none;
    resize: none;
    width: calc(100% - 30px);
    color: var(--default-white);
    margin: 0px auto;
    padding: 10px;
    border: 2px solid var(--purple);
    border-radius: 24px;
    transition: 0.25s;
}


.box h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
.box h3{
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}


.submit-btn{
    display: block;
    padding: 14px 40px;
    margin: 20px auto;
}





/* Smartphone */
@media screen and (max-width: 780px) {
    .box{
        width: 80vw;
        padding: 20px;
    }
   
    .login-input{
        width: 60vw;
    }
    .login-input:focus{
        width: 70vw;
    }
}