@font-face {
    src: url(../Resourcen/Fonts/EvolventaBold-55Xv.ttf);
    font-family: Evolvent;
}

#lol {

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: gold;
    text-align: center;
}

#valorant {

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #ff4655;
    text-align: center;
}

#csgo {

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    text-align: center;
}


#rocketleague {

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: darkblue;
    text-align: center;
}

.gamesfontlol {
    font-size: 80px ;
    line-height: 90px;
    font-family: Evolvent;
    color: #f3a721;
    vertical-align: center;
    font-weight: 500;


}
.gamesfontvalorant {
    font-size: 80px ;
    line-height: 90px;
    font-family: Evolvent;
    color: whitesmoke;
    font-weight: 500;
    vertical-align: middle;
    display: block;
}
.gamesfontrocketleague {
    font-size: 80px ;
    line-height: 90px;
    font-family: Evolvent;
    color: black;
    font-weight: 500;
    vertical-align: middle;
}
.gamesfontcsgo {
    font-size: 80px ;
    line-height: 90px;
    font-family: Evolvent;
    color: black;
    font-weight: 500;
    vertical-align: middle;
    display: block;

}
