@font-face {
    src: url(../Resourcen/Fonts/EvolventaBold-55Xv.ttf);
    font-family: Evolvent;
}
.gamelabel{
    color: var(--dark-bg-color);
    text-shadow: 0 0 10px white;
    font-family: Evolvent;
    font-size: 1em;
}


.lol {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--lol-color);
    text-align: center;
}
#lol-players .card .container{
    border: 2.5px solid var(--lol-color);
}

.valorant {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color:  var(--valorant-color);
    text-align: center;
}
#valorant-players .card .container{
    border: 2.5px solid var(--valorant-color);
}

.csgo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background:  var(--csgo-color);
    text-align: center;
}
#csgo-players .card .container{
    border: 2.5px solid var(--csgo-color);
}


.rocketleague {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--rocket-color);
    text-align: center;
}
#rocket-players .card .container{
    border: 2.5px solid var(--rocket-color);
}



