@font-face {
    src: url(../Resourcen/Fonts/EvolventaBold-55Xv.ttf);
    font-family: Evolvent;
}
.gamelabel{
    color: var(--dark-bg-color);
    text-shadow: 0 0 10px white;
    font-family: Evolvent;
    font-size: 1em;
}

.game-container {
    text-align: center;
}





