@charset "utf-8";


#grid {
    display: grid;
    grid-template-areas:
          'left main main main';
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.filter {
    background: #111111;
    border-style: double;
    border-color:  #e6ebeb;
    padding: 10px;
    grid-area: left;
    text-align: center;
}

.content{
    margin: 0 auto;
}

.game-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.card {
    display: flex;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px #111111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card div{
    min-width: 400px;
    min-height: 200px;
    max-width: 500px;
    max-width: 500px;
    width: inherit;
    height: inherit;
    box-shadow: 0px 0px 20px black;
}
