@charset "utf-8";


#content {
    display: grid;
    grid-template-areas:
          'left main main main';
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
}

#content div {
    padding: 30px;
}

.filter {
    background: darkgray;
    grid-area: left;
    text-align: center;

}
.main{
    margin: 0 auto;
}

.game-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.card {
    display: flex;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px #111111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card div{
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    max-width: 500px;
    width: inherit;
    height: inherit;
}

.fadein img {
    opacity: 0.5;
    transition: 1s ease;
}

.fadein img:hover {
    opacity: 1;
    transition: 1s ease;
}


.lol {
    background:  url(../Resourcen/500px-League_of_Legends_2019_vector.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: gold;
}

.valorant {
    background:  url(../Resourcen/2000px-Valorant_logo.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #e6ebeb;
}

.csgo {
    background:  url(../Resourcen/counter_strike.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: dimgrey;
}

.rocketleague {
    background:  url(../Resourcen/call_of_duty.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: red;
}