@charset "utf-8";


#grid {
    display: grid;
    grid-template-areas:
          'left main main main';
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.filter {
    background: #111111;
    border-style: double;
    border-color:  #e6ebeb;
    padding: 10px;
    grid-area: left;
<<<<<<< HEAD
    text-align: center;
=======
    text-align: left;


>>>>>>> 930874f8900d98ce04854678ba117ad1b3344af6
}

.content{
    margin: 0 auto;
}

.game-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.card {
    display: flex;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px #111111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
<<<<<<< HEAD

=======
.card div:hover{
    opacity: 0.3;
    transition: 0.5s;
    cursor: pointer;
    border: 0.5px solid darkred;
}
>>>>>>> 930874f8900d98ce04854678ba117ad1b3344af6
.card div{
    min-width: 400px;
    min-height: 200px;
    max-width: 500px;
    max-width: 500px;
    width: inherit;
    height: inherit;
<<<<<<< HEAD
    box-shadow: 0px 0px 20px black;
}
=======
}
.playercards {
    display: flex;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px #111111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2.5px solid gold;
}
.profilcard{
    min-width: 400px;
    min-height: 200px;
    max-width: 500px;
    max-width: 500px;
    width: inherit;
    height: inherit;
}


.lol {
    background:  url(../Resourcen/500px-League_of_Legends_2019_vector.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: gold;

}

.valorant {
    background:  url(../Resourcen/2000px-Valorant_logo.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: whitesmoke;
}

.csgo {
    background:  url(../Resourcen/counter_strike.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

.rocketleague {
    background:  url(../Resourcen/1920px-Rocket-league-logo.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: darkblue;
}
>>>>>>> 930874f8900d98ce04854678ba117ad1b3344af6
