.icon {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-size: cover;
    border-style: groove;
    transition: all 0.4s ease-out;
}

/*for chat*/
.iconSmall {
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    background-size: cover;
}

.message {
    color: transparent;
    background: url(../Resourcen/Navigation/chat-white-24dp.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: transparent;

}

.game {
    min-width: 300px;
    min-height: 120px;
    max-width: 300px;
    max-height: 120px;
}

.icon:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 50%;
}

#avatarTeemo {
    background-image: url("../Resourcen/Icons/Teemo.jpg");
}

#avatarBard {
    background-image: url("../Resourcen/Icons/Bard.jpg");
}

#avatarFuryhorn {
    background-image: url("../Resourcen/Icons/Furyhorn.png");
}

#avatarPingu {
    background-image: url("../Resourcen/Icons/Featherknight.png");
}

#avatarRammus {
    background-image: url("../Resourcen/Icons/Rammus.jpg");
}

#avatarZac {
    background-image: url("../Resourcen/Icons/Zac.jpg");
}

#avatarSquid {
    background-image: url("../Resourcen/Icons/Squid.jpg");
}

#avatarSpook {
    background-image: url("../Resourcen/Icons/Spooky.jpg");
}

@media screen and (max-width: 800px) {
    .icon {
        border-radius: 50%;
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
        background-size: cover;
        border-style: groove;
        transition: all 0.4s ease-out;
    }
}

@media screen and (max-width: 550px) {
    .iconSmall {
        display:none;
    }
}