.icon {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-size: cover;
    border-style: groove;
    transition: all 0.4s ease-out;
}

.iconChatHead {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    background-size: cover;
    border-style: groove;
    transition: all 0.4s ease-out;
}

/*for chat*/
.iconSmall {
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    background-size: cover;
}



.game {
    min-width: 300px;
    min-height: 120px;
    max-width: 300px;
    max-height: 120px;
}

.icon:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .icon {
        border-radius: 50%;
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
        background-size: cover;
        border-style: groove;
        transition: all 0.4s ease-out;
    }
}

@media screen and (max-width: 550px) {
    .iconSmall {
        display:none;
    }
    .icon {
        border-radius: 50%;
        min-width: 70px;
        min-height: 70px;
        max-width: 70px;
        max-height: 70px;
        background-size: cover;
        border-style: groove;
        transition: all 0.4s ease-out;
    }
}

@media screen and (max-height: 800px) {
    .iconChatHead {      
        width: 7vh;
        height: 7vh;
    }
}