.icon {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-size: cover;
    border-style: groove;
    transition: all 0.4s ease-out;
}

.iconChatHead {
    border-radius: 50%;
    min-width: 10vh;
    min-height: 10vh;
    max-width: 10vh;
    max-height: 10vh;
    background-size: cover;
    border-style: groove;
    transition: all 0.4s ease-out;
}

/*for chat*/
.iconSmall {
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    background-size: cover;
}



.game {
    min-width: 300px;
    min-height: 120px;
    max-width: 300px;
    max-height: 120px;
}

.icon:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 50%;
}

#iconBC {
    background-image: url("../Resourcen/Icons/iconBC.jpg");
}

#iconFizz {
    background-image: url("../Resourcen/Icons/iconFizz.jpg");
}

#iconGaren {
    background-image: url("../Resourcen/Icons/iconGaren.jpg");
}

#iconGragas {
    background-image: url("../Resourcen/Icons/iconGragas.jpg");
}

#iconGraves {
    background-image: url("../Resourcen/Icons/iconGraves.jpg");
}

#iconKennen {
    background-image: url("../Resourcen/Icons/iconKennen.jpg");
}

#iconLee {
    background-image: url("../Resourcen/Icons/iconLee.jpg");
}

#iconSinged {
    background-image: url("../Resourcen/Icons/iconSinged.jpg");
}

#iconZiggs {
    background-image: url("../Resourcen/Icons/iconZiggs.jpg");
}

#iconPlaceholder {
    background-image: url("../Resourcen/Icons/iconZiggs.jpg");
}
@media screen and (max-width: 800px) {
    .icon {
        border-radius: 50%;
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
        background-size: cover;
        border-style: groove;
        transition: all 0.4s ease-out;
    }
}

@media screen and (max-width: 550px) {
    .iconSmall {
        display:none;
    }
}