@charset "utf-8";
@import url(nav.css);

@font-face {
    src: url(../Resourcen/Fonts/Muli-SemiBold.ttf);
    font-family: SemiBold;
}

html{
    color: #e6ebeb;
    font-family: SemiBold;
}
body{
    background-color: #1a1a1a;
    margin:0; 
    padding:0;
}

main {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    min-height: calc(100vh - 160px);
}
footer {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-color: #111111;
}
button {
    border-radius: 5px;
    background-color: #e6ebeb;
    border-color: #1a1a1a;
}
input {
    background-color: #404040;
    border-color: #1a1a1a;
}
h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
h3{
    font-size: large;
}
h4{
    font-size: medium;
}
h5{
    font-size: x-small;
}