@charset "utf-8";
@import url(colors.css);
@import url(items.css);
@import url(nav.css);
@import url(footer.css);


@font-face {
    src: url(../Resourcen/Fonts/Muli-SemiBold.ttf);
    font-family: SemiBold;
}

html{
    color: var(--default-white);
    font-family: SemiBold;
    font-size: medium;
}
a{
    color: var(--light-purple);
}
body{
    background-color: var(--main-bg-color);
    margin:0; 
    padding:0;
}

main {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    min-height: calc(100vh - 80px - 20px - 50px);
}
footer {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-color: var(--dark-bg-color);;
}




/* Tablet */
@media screen and (max-width: 1080px) {

}
/* Smartphone */
@media screen and (max-width: 780px) {
    /* Firefox, Internet Explorer +10 */
    body{
        overflow: auto;
        -ms-overflow-style: none;
    }
    /* Chrome, Safari, newer versions of Opera */
    body::-webkit-scrollbar { display: none; }
}