@charset "utf-8";

header {
    z-index: 9999;
    background-color: #111111;  
    position: fixed;
    width: 100%;
    top: 0;
}

header nav{
    font-size: 22px;
    overflow: hidden;
    display:block;
}

header nav .grid-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

header nav .main-nav{
    grid-column: 1;
    width: 100%;
}

header nav .profil-nav{
    grid-column: 3;
    width: 100%;
    text-align: right;
}

header nav a{
    color: #e6ebeb;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
    max-width: 100px;
    text-align: center;
}
header nav .home-link{
    color: transparent; 
    background: url(../Resourcen/Navigation/home-white-24dp.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    display: inline-block;
}

header nav .game-link{
    color: transparent; 
    background: url(../Resourcen/Navigation/esports-white-24dp.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    display:inline-block;
}
header nav .login-link{
    display: none;
}
header nav .register-link{
    display: none;
}
header nav .message-link{
    color: transparent; 
    background: url(../Resourcen/Navigation/notifications-white-24dp.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    display:inline-block;
}
header nav .profil-link{
    color: transparent; 
    background: url(../Resourcen/Navigation/person-white-24dp.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    display:inline-block;
}
header nav a:hover{
    background-color: #404040
}
header nav .search-wrapper{
    grid-column: 2;
    display: flex;
    width: 100%;
    height:fit-content;
    max-width: 500px;
}
header nav .search-icon {
    align-self: center;
    position: absolute;
}
header nav .search {   
    align-self: center;
    justify-self: center;
    height: 40%;
    border-radius: 5px;
    width: calc(100% - 28px);
    padding-left: 23px;
    outline: 0;
    background-color: #e6ebeb;
    color: #111111
}
header .search:hover, .search:focus {
    border: 2.5px solid #8996a8;
    background-color: white;
}

@media screen and (max-width: 1100px) {
    header nav .grid-container {
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 800px) {
    
    header nav a {
        width: 20%;
    }
}
