@charset "utf-8";


header nav{
    overflow: hidden;
}
header nav a{
    display: inline;
    text-decoration: none;
    color: #e6ebeb;
    padding: 5% 5%; 
 
}

header nav a:hover{
    background-color: #404040
}
header nav img{ 
    width: auto;
    height: auto;
}

header nav .grid-container {
    display: grid;
    grid-template-areas:
      'left center right';
}

header nav .main-nav{
    grid-area: left;
    text-align: left;
}
header nav .search{
    grid-area: center;
    text-align: center;
}
header nav .profil-nav{
    grid-area: right;
    text-align: right;
}