@font-face {
    src: url(../Resourcen/Fonts/EvolventaBold-55Xv.ttf);
    font-family: Evolvent;
}
.gamename{
    text-align: center;
    font-family: Evolvent;
    font-size: 50px;
    font-size: 1em;
    font-size: xx-large;
}
.card .container{
    background-color: #111111;
}
.content{
    padding: 10px;
}
.content{
    font-size: 50%;
}
