@charset "utf-8";

.profile-grid{
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    width: 100%;  
}

.profile-grid .profil-header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    background-color: var(dark-bg-color);
    grid-row: 1;
    grid-column: 2;
    border: 2px solid var(--purple);
    padding: 14px 10px;
    outline: none;
    border-radius: 24px;

    -webkit-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    -moz-box-shadow: 0px 0px 21px 8px var(--light-shadow);
    box-shadow: 0px 0px 21px 8px var(--light-shadow);
}

.profile-grid .profil-header .picture-wrapper{
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 1;
}

.profile-grid .profil-header .name-wrapper{
    align-items: center;
    justify-items: center;
    grid-row: 1;
    grid-column: 2;
}

.profile-grid .profil-header .options-wrapper{
    justify-self: end;
    align-self: flex-start;
    grid-row: 1;
    grid-column: 3;
}

.profile-btn{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display:inline-block;
}
#edit-profile{
    background: url(../Resourcen/Navigation/settings-white-24dp.svg);
}
#logout-link{
    background: url(../Resourcen/Navigation/exit_to_app-white-24dp.svg);
}
#message-link{
    background: url(../Resourcen/Navigation/chat-white-24dp.svg);
}
#add-friend-link{
    background: url(../Resourcen/Navigation/friend_add-white-24dp.svg);
}
#friend-link{
    width: 28px;
    height: 28px;
    background: url(../Resourcen/Navigation/friends-white-24dp.svg);
}
#edit-games{
    background: url(../Resourcen/Navigation/edit-white-24dp.svg);
    background-repeat: no-repeat;
    float: right;
    padding-left: 5px;
}

.profile-grid .profil-body{
    grid-row: 2;
    grid-column: 2; 
    padding: 20px;
}
.profile-grid .profil-body h2{
    padding-left: 10px;
}
.profile-grid .profil-body .gamestats label{
    padding-left: 20px;
}
.profile-grid .profil-body .description{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--dark-bg-color);
}
.profile-grid .profil-body .game-wrapper{
    background-color: var(--dark-bg-color);
}
.profile-grid .profil-body .game-wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
}

.cardview {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    overflow: hidden;
}

.card .game-container{
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    font-size: 40px;
    transition: all 0.4s ease-out;
    transform: scale(1);
}

.card .game-container:hover{
    transition: all 0.4s ease;
    cursor: pointer;
    
}

.description{
    position: relative;
}
.game-stats{
    position: relative;
    display: block;
}
.game-stats h2{ 
    display: block;
}
.value{
    position: absolute;
    left: 40%;
}
.attribute{
    padding-left: 20px;
}

.error-wrapper{
    width: 100%;
    text-align: center;
    
}

/* Tablet */
@media screen and (max-width: 1080px) {

    .card .game-container{
        min-width: 150px;
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;
        font-size: 30px;
    }
    .card {
        padding: 15px;
    }

    .profile-grid{
        grid-template-columns: auto 700px auto;
        grid-template-rows: auto auto;    
    }
}
/* Smartphone */
@media screen and (max-width: 780px) {
    
    .card {
        padding: 12px;
    }
    .profile-grid{
        grid-template-columns: 0px 100% 0px;
        grid-template-rows: auto auto;
    }
    .profile-grid .profil-header{
        grid-row: 1;
        grid-column: 1/4;
    }
 
    .profile-grid .profil-header .picture-wrapper{
        justify-self: left;
        grid-row: 1;
        grid-column: 1;
    }
    .profile-grid .profil-header .message-wrapper{
        justify-self: end;
        grid-row: 1;
        grid-column: 3;
    }
    .profile-grid .profil-header .name-wrapper{
        justify-self: start;
        grid-row: 2;
        grid-column: 1/4;
    }
    .profile-grid .profil-body{
        grid-row: 2;
        grid-column: 2;
    }
}
