@charset "utf-8";


.left{
    grid-row: 2;
    grid-column: 1;
    opacity: 0.9;
}
.right{
    grid-row: 1;
    grid-column: 2;
    opacity: 0.9;
}

.left:hover{
    transform: scale(0.95);
    transition: 0.33s;
    opacity: 1.0;
}
.right:hover {
    transform: scale(0.95);
    transition: 0.33s;
    opacity: 1.0;
}
.start-img{
    width: auto;
    height: auto;
}

#grid {
    display: grid;
    margin: auto;
    height: min(calc(100vh - 80px - 20px - 50px), 100vw);
    width: min(calc(100vh - 80px - 20px - 50px), 100vw);
    grid-template-columns: 1fr 1fr;
    grid-template-rows:   1fr 1fr;    
    background-image: url(../Resourcen/Logo/logo_purple.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

/* Tablet */
@media screen and (max-width: 1080px) {

}
/* Smartphone */
@media screen and (max-width: 780px) {
   
}