@charset "utf-8";
@font-face {
    src: url(../Resourcen/Fonts/Muli-SemiBold.ttf);
    font-family: SemiBold;
}


.left{
    grid-row: 2;
    grid-column: 1;
    opacity: 0.9;
}
.right{
    grid-row: 1;
    grid-column: 2;
    opacity: 0.9;
}

.left:hover{
    transform: scale(0.95);
    transition: 0.33s;
    opacity: 1.0;
}
.right:hover {
    transform: scale(0.95);
    transition: 0.33s;
    opacity: 1.0;
}
.start-img{
    width: auto;
    height: auto;
}

#grid {
    display: grid;
    margin: auto;
    height: min(calc(100vh - 80px - 20px - 50px), 100vw);
    width: min(calc(100vh - 80px - 20px - 50px), 100vw);
    grid-template-columns: 1fr 1fr;
    grid-template-rows:   1fr 1fr;    
    background-image: url(../Resourcen/Logo/logo_purple.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

/* Tablet */
@media screen and (max-width: 1080px) {

}
/* Smartphone */
@media screen and (max-width: 780px) {
   
}


.blockquote h4 {
    position: relative;
    color: #414344;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
}

.blockquote:after {
    position: absolute;
    content: "”";
    color: rgba(255, 255, 255, 1);
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
}

.blockquote h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}
.blockquote {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #ffffff;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}
.blockquote-wrapper {
    display: inline;
    height: 100vh;
    padding: 0 20px;
}